body{
	padding-top: 50px;
}
.navbar-brand{
	padding-top: 0px;
	padding-left: 0px;
}
.title{
	padding-top: 15px;
	padding-left: 15px;
	font-size: 20px;
}
.mname{
	font-size: 75px;
	width: 100%;
	background-color: red;
	text-align: center;
}
